name: Android CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        java-package: jdk
    - name: Build with Gradle
      run: ./gradlew build jacocoTestReport
    - name: Upload Jacoco Report
      if: always()
      uses: actions/upload-artifact@v1
      with:
        name: jacoco
        path: app/build/reports/jacocoTestDebugUnitTestReport/html/
    - name: Upload Checkstyle Report
      if: always()
      uses: actions/upload-artifact@v1
      with:
        name: checkstyle
        path: app/build/reports/checkstyle/
    - name: Upload Findbugs Report
      if: always()
      uses: actions/upload-artifact@v1
      with:
        name: findbugs
        path: app/build/reports/findbugs/*.html
    - name: Upload Findbugs Report
      if: always()
      uses: actions/upload-artifact@v1
      with:
        name: lint-results
        path: app/build/reports/lint-results.html