name: Android CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        java-package: jdk
    - name: Build with Gradle
      run: ./gradlew build jacocoTestReport
    - name: Prepare Artifacts
      run: mkdir artifacts && cat app/build/reports/jacocoTestDebugUnitTestReport/html/index.html > artifacts/jacoco.html
    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: reports
        path: artifacts