name: APK CI

on: 
    push:
        branches:
            'feature/GAMES_000E'
jobs:
  apk:
    name: Generate APK
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v2
      with:
        java-version: 1.8
        java-package: jdk
    - name: Build debug APK
      run:  bash ./gradlew assembleDebug --stacktrace
    - name: Upload APK
      uses: actions/upload-artifact@v2
        with:
          name: app
          path: app/build/outputs/apk/debug/app-debug.apk
    